/lib/.libs/
/util/.libs/
/cgi/.libs/
/apache/.libs/
*.o
*.lo
.*.swp
.header
Makefile.inc
apache/Makefile
apache/mod_mapcache.la
apache/mod_mapcache.slo
autom4te.cache/
cgi/Makefile
cgi/mapcache
config.log
config.status
lib/Makefile
lib/libmapcache.la
libtool
nbproject/
nginx/config
util/Makefile
util/mapcache_seed
